
body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 400px;
    background-color: #606C38;
}


#header {
    background-color: #606C38;
    padding: 15px;
    text-align: center;
}

#header img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}


#optimize-btn {
  margin-top: 10px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px;
  font-weight: bold;
  border: none;
  background-color: #283618;
  color: #606C38;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

footer::after {
	content: "";
	display: table;
	clear: both;
}

#options-btn {
	float: left;
	width: 40%;
	margin-left: 5%;
	padding: 12px;
	font-weight: bold;
	border: none;
	background-color: #283618;
	color: #606C38;
	border-radius: 6px;
	cursor: pointer;
	font-size: 14px;
}

#help-btn {
	float: right;
	width: 40%;
	margin-right: 5%;
	padding: 12px;
	font-weight: bold;
	border: none;
	background-color: #283618;
	color: #606C38;
	border-radius: 6px;
	cursor: pointer;
	font-size: 14px;
}

#prompt-input, .stats, #status {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

#prompt-input {
    height: 100px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 14px;
    margin-top: 10px;
}

#status {
  margin-top: 10px;
  font-size: 12px;
  color: green;
  min-height: 1em;
}

.stats {
    margin-top: 15px;
    padding-bottom: 10px;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.footer-btn {
    width: 48%;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.credits-footer {
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.credits-footer p {
    margin: 2px 0;
}

.credits-footer a {
    font-size: 11px;
    color: #283618;
    text-decoration: none;
}

.credits-footer a:hover {
    text-decoration: wavy underline;
}